/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/arya-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
